{% extends 'Template_base.html' %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Lista de Edifícios</h2>
{% if not Edificio_list %}
    <p>Nenhum edifício encontrado.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Aquisição</th>
                <th>Custo de Aquisição</th>
                <th>Vida Útil Restante</th>
                <th>Depreciação</th>
                <th>Valor Atual</th>
                <th>Ações</th> <!-- Cabeçalho para as ações -->
            </tr>
        </thead>
        <tbody>
            {% for edificio in Edificio_list %}
            <tr>
                <td>{{ edificio.nome }}</td>
                <td>{{ edificio.data_construcao|date:"d/m/Y" }}</td>
                <td>{{ edificio.custo_construcao_formatado }}</td>
                <td>{{ edificio.calcular_vida_util_restante }} anos</td>
                <td>{{ edificio.calcular_depreciacao }}</td>
                <td>{{ veiculos_valores_atuais.edificio.id }}</td>
                <td>
                    <a href="{% url 'edificio-update' edificio.pk %}">Alterar</a> |
                    <a href="{% url 'edificio-delete' edificio.pk %}" onclick="return confirm('Tem certeza que deseja excluir este edifício?');">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}