{% extends 'Template_base.html' %}

{% block content %}
<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		border: 1px solid #ccc;
		padding: 8px;
		text-align: left;
	}
	th {
		background-color: #f2f2f2;
	}
</style>

<h2>Lista de Equipamentos</h2>
{% if not Equipamento_list %}
	<p>Nenhum equipamento encontrado.</p>
{% else %}
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data de Aquisição</th>
				<th>Custo de Aquisição</th>
				<th>Vida Útil Restante</th>
				<th>Depreciação</th>
				<th>Ações</th> <!-- Cabeçalho para as ações -->
			</tr>
		</thead>
		<tbody>
			{% for equipamento in Equipamento_list %}
			<tr>
				<td>{{ equipamento.nome }}</td>
				<td>{{ equipamento.data_aquisicao|date:"d/m/Y" }}</td>
				<td>{{ equipamento.custo_aquisicao_formatado }}</td>
				<td>{{ equipamento.calcular_vida_util_restante }} anos</td>
				<td>{{ equipamento.calcular_valor_atual }}</td>
				<td>
                    <a href="{% url 'equipamento-update' equipamento.pk %}">Alterar</a> |
                    <a href="{% url 'equipamento-delete' equipamento.pk %}" onclick="return confirm('Tem certeza que deseja excluir este equipamento?');">Excluir</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}