{% extends 'Template_base.html' %}

{% block content %}
<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		border: 1px solid #ccc;
		padding: 8px;
		text-align: left;
	}
	th {
		background-color: #f2f2f2;
	}
</style>

<h2>Lista de Máquinas</h2>
{% if not Maquina_list %}
	<p>Nenhuma máquina encontrada.</p>
{% else %}
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data de Aquisição</th>
				<th>Custo de Aquisição</th>
				<th>Vida Útil Restante</th>
				<th>Valor Atual</th>
				<th>Ações</th> <!-- Cabeçalho para as ações -->
			</tr>
		</thead>
		<tbody>
			{% for maquina in Maquina_list %}
			<tr>
				<td>{{ maquina.nome }}</td>
				<td>{{ maquina.data_aquisicao|date:"d/m/Y" }}</td>
				<td>{{ maquina.custo_aquisicao_formatado }}</td>
				<td>{{ maquina.calcular_vida_util_restante }} anos</td>
				<td>{{ maquina.calcular_valor_atual }}</td>
				<td>
                    <a href="{% url 'maquina-update' maquina.pk %}">Alterar</a> |
                    <a href="{% url 'maquina-delete' maquina.pk %}" onclick="return confirm('Tem certeza que deseja excluir esta maquina?');">Excluir</a>
				</td>	
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}